<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HashiTracker</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="page-background">
        <div class="page-content">
            <header>
                <h1>Log in to HashiTracker</h1>
            </header>
            <main>
                <form>
                    <p class="form-intro">Welcome back! Log in right here.</p>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="e.g. Jane Smith">
                    <label for="password">Enter password</label>
                    <input type="password" id="password" name="password" placeholder="8-12 characters">
                    <a href="home.html" class="btn btn-signup">Login</a>
                </form>
            <p>Forgot your password or username? <a href="recovery.html">Reset it here</a>
            </p>
            <p>Don't have an account yet? <a href="signup.html">Sign up here</a>
            </p>
            </main>
        </div>
    </div>
</body>
</html>