<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashi Tracker Prototype</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="page-background">
        <div class="page-content">
            <header>
                <h1>Account recovery</h1>
            </header>
            <main>

                <form>
                    <p class="form-intro">Forgot your username?</p>
                    <label for="username-email">Enter email address</label>
                    <input type="email" id="username-email" name="username-email" placeholder="e.g. yourname@email.com">
                    
                    <button class="btn">Email my username</button>
                </form>

                <form>
                    <p class="form-intro">Forgot your password?</p>
                    <label for="password-email">Enter email address</label>
                    <input type="email" id="password-email" name="password-email" placeholder="e.g. yourname@email.com">
                    
                    <button class="btn">Email reset link</button>
                </form>
                <p>Remember your password/username? <a href="login.html">Log in here</a></p>
            </main>
        </div>
    </div>
</body>
</html>